option_settings:
    aws:elasticbeanstalk:application:environment:
        COMPOSER_ALLOW_SUPERUSER: 1

commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

packages:
    yum:
        cairo: []
        ghostscript: []
        libXinerama.x86_64: []
        cups-libs: []
        dbus-glib: []
        readline: []
        readline-devel: []
        libyaml-devel: []
        libffi-devel: []
container_commands:
    01-storage_permissions:
        command: "sudo chmod -R 755 ./storage"
    02-config_clear:
        command: "php artisan config:clear"
    03-view_clear:
        command: "php artisan view:clear"
    04-route_cache:
        command: "php artisan route:cache"
    05-view_cache:
        command: "php artisan optimize"
    05-view_cache:
        command: "php artisan view:cache"
    06-migrate:
        # command: "php artisan migrate --force"
        command: "php artisan migrate:fresh --seed"
    07-link-storage:
        command: "php artisan storage:link --force"
    09-queue_service_restart:
        command: "sudo systemctl restart laravel_worker"
files:
    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000755"
        owner: root
    /etc/systemd/system/laravel_worker.service:
        mode: "000755"
        owner: root
        group: root
        content: |
            # Laravel queue worker using systemd
            # ----------------------------------
            #
            # /lib/systemd/system/queue.service
            #
            # run this command to enable service:
            # systemctl enable queue.service

            [Unit]
            Description=Laravel queue worker

            [Service]
            User=nginx
            Group=nginx
            Restart=always
            ExecStart=/usr/bin/nohup /usr/bin/php var/app/current/artisan queue:work --daemon

            [Install]
            WantedBy=multi-user.target
